body{
margin: 0;
font-family:Areal sans-serif;
font-size:0.9em;
}
a{
margin:5px;
text-decoration: none;
color:black;
}
a:hover{
    text-decoration: underline;
}
nav{
display:flex;
justify-content:space-between;    
}
.header-nav{
display: flex;
align-items:center;
padding-left: 20px;
margin-right: 10px;
}
ul>a,ul>img{
padding:0 8px;    
}
.header-img{
    width :30px;
    height:30px;  
}
.header-img:hover{
   box-shadow: 0 0 10px 0px gainsboro; 
   border-radius: 20px; 
   cursor: pointer;  
}
#img-mag,#img-mic{
    width:25px;
    height:25px;
    margin:8px;
    background-color: transparent;
}
section{
display:flex;
flex-direction:column;
align-items:center;
margin-top:5vh;
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsa...) format('woff2');
}
h1{
font-family:sans-serif;
font-size: 5.5em;
}
.my-input-container{
display:flex;
justify-content:space-between;
width:600px;
height:38px;
border:1px solid gainsboro;
border-radius: 20px;
}
.my-input-container > input{
flex-grow:1;
border:none;
outline:none;
}
.my-input-container:hover{
box-shadow: 0 0 10px 0 gainsboro;
}
img:hover{
cursor: pointer;    
}
.my-button-container{
padding-top: 53px;    
}
button{
background-color: #f8f9fa;
border-radius: 5px;
border:none;
height:36px;
padding: 0 20px;
margin: 0 4px;
}
button:hover{
cursor: pointer;
box-shadow: 0 0 10px 0 gainsboro;
}
footer{
   background-color:#f2f2f2;
   position:fixed;
   bottom:0;    
   width:100vw; 
}
#footer-left{
display:flex;
justify-content: start;
padding-left: 20px;;
align-items: center;
}
#footer-right{
display:flex;
justify-content: flex-end;
margin-right:20px;
align-items: center;
}
@media (max-width:630px){
    #footer-nav{
    flex-direction:column;    
    }
    #footer-left{
    justify-content: center;

    }
    #footer-right{
        justify-content: center;
    }
    .my-input-container{
     width:95vw;
    }
    }
@media (max-height:522px){

body{
    overflow-x:hidden;
}
section{
margin-bottom:20px;    
}
footer{
position:relative;    
}
@media(max-height:577px)and(max-width: 630px){
    body{
        overflow-x:hidden;
    }
    section{
    margin-bottom:13px;    
    }
    footer{
    position:relative;    
    }
}















}
























